html {
  font-family: Arial, Helvetica, sans-serif;
}

body { 
    background: url("silver-and-black-laptop-computer-1229861.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


#header {
    padding: 2%;
    border-bottom: solid black 2px;

}


#picBackground {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 15%;
  margin-right: 15%;
  Margin-top: 4%;
  margin-bottom: 10%;
  background: #333333;
  border: solid 1px white;
}


#photo {
  margin-left: 30%;
  margin-bottom: 5%;
  border: solid 1px white;
}


#sticky-footer {
    background: #333333;
    border-top: solid white 1px;

    position: fixed;
    height: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-top: 10%;
    
}


.paragraph {
  color: white;
}


#social-button {
  cursor: pointer;
  
}

h1 {
  text-align: center;
  color: #d9d9d9;
}